.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

body#home-body {
  background-image: url(/assets/wall.jpeg);
  background-size: cover;
}
